.heading-1 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.25;
  color: #171717;
  margin: 0;
}

.heading-2 {
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 1.25;
  color: #262626;
  margin: 0;
}

.heading-3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
  color: #262626;
  margin: 0;
}

.body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #404040;
  margin: 0;
}

.caption {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #737373;
}
